<div class="container">
    <a class="container-logo" routerLink="">
        <img src="assets/images/logo.png" alt="logo True Token">
    </a>
    <nav class="menu">
        <a class="fonctionnement" routerLink="fonctionnement" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Comment ça marche?</a>
        <a class="home" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a class="contact" href="mailto:contact@truetoken.fr" title="contact@truetoken.fr">Contact</a>
    </nav>
</div>